body{
    padding: 10px 0;
}

.thumbnail{
    padding: 10px;
    margin: 10px 0;
    box-shadow: 5px 5px 5px grey
}

.thumbnail h2{
    padding: 0;
    margin:	0 0 10px 0;
}

.thumbnail:hover{
    box-shadow: 10px 10px 5px grey
}

.thumbnail#fiche .panel-heading { padding: 5px 15px; font-size: small; font-weight: bold;}
.thumbnail#fiche .panel-footer  { padding: 5px 15px; font-size: small;}
.thumbnail#fiche .panel td      { padding: 5px 15px; font-size: smaller; vertical-align: middle;}

.panel#ss_categorie .panel-heading { padding: 5px 15px; font-size: small; font-weight: bold;}
.panel#ss_categorie table td      { padding: 5px 15px; font-size: smaller; vertical-align: middle;}
